@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding:0;
  text-align: center;
}
body{
  min-width: 100%;
  font-family: 'Roboto Mono', monospace;
  color:rgb(244, 242, 242)
}
.page-wrapper{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
.wrapper{
  width:40%;
  height: auto;
}
.title-part button{
  padding:.3rem 1.3rem;
  margin:.5rem 0;
  font-size: 18px;
  font-weight: 600;
  background-color: inherit;
  border:3px solid #ddd;
  border-radius: 3px;
  color:#ddd;
  cursor: pointer;
}
.title-part h5{
  font-size: 20px;
  font-weight: 600;
}
.game-part{
  margin-top:20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.card{
  position:relative;
}
.card img{
  width:110px;
  height: 110px;
  border:2px solid #ddd;
  border-radius: 8px;
  display: block;
}
.card .front{
  transform: rotateY(90deg);
  position: absolute;
  transition: .3s;
}
.turn .front{
  transform: rotateY(0deg);
  transition: .3s;
}














